<div class="car-details">
  <h3>{{ car.make }} {{ car.model }}</h3>
  <p><strong>Seats:</strong> {{ car.totalSeats }}</p>
  <p><strong>Automatic:</strong> {{ car.automaticTransmission ? "Yes" : "No" }}</p>
  <p>
    <strong>Total Kilometers:</strong>
    {{ car.totalKilometersDriven }} km
  </p>
  <p>
    <strong>Status:</strong>
    <span [ngClass]="{ rented: car.rented, available: !car.rented }">
      {{ car.rented ? "Currently Rented" : "Available" }}
    </span>
  </p>
  @if (car.rented) {
  <p>
    <strong>Rented by:</strong>
    {{ car.customerName }}
  </p>
  }

  <div>
    <button
      mat-raised-button
      [ngClass]="{
        'success-button': !car.rented,
        'delete-button': car.rented
      }"
      (click)="onRentalButtonClick(car)"
    >
      {{ car.rented ? "Stop Rental" : "Start Rental" }}
    </button>
  </div>
</div>
